.workouts-container {
  max-width: 900px;
  margin: auto;
}

.workout-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.workout-landing {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin: auto;
  width: 70%
}

.workout-landing-button {
  height: 30px;
  border: solid;
  margin: auto;
  margin-bottom: 40%;
  min-width: 80%;
  border-radius: 3px;
  border-color: black;
  background-color: rgb(24, 123, 236);
  color: white;
  font-size: 18px;
}