// Easily apply styles at a component level with sass
$green : green;

mark {
  border-radius: 10px;
  background-color: lightblue;
}

nav {
  padding: 10px;
}

a {
  text-decoration: none;
  color: $green;
  padding: 5px;
}