.dropdown-container {
  display: flex;
}

.drop-down {
  display: flex;
  justify-content: space-evenly;
}

.drop-down-button {
  margin-right: 5px;
  border: solid;
  border-radius: 3px;
  border-color: black;
  background-color: rgb(24, 123, 236);
  color: white;
}

.drop-down-label {
  margin-right: 15px;
  padding: 2px;
  border: solid;
  border-radius: 3px;
  border-color: black;
  background-color: grey;
  color: white;
}

.dropdown-menu-toggle {
  display: flex;
  align-items: center;
}
