.landing {
  max-width: 900px;
  margin: auto;
}

.landing-welcome {
  margin: auto;
  max-width: 80%;
  text-align: center;
}

.update-container {
  max-width: 80%;
  margin: auto;
}

.update-header {
  text-align: center;
}

.update-list {
  max-width: 100%;
}

.update-item {
  list-style-type: none;
}