.nav {
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;

}

.logo-icon {
  max-width: 50px;
}

.workouts-icon {
  margin-right: 5%;
}

.title {
  margin: 15%;
}